{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="taproom-heading">
        TUSSOCK:
    </h1>
    <h3 class="taproom-heading">An area of grass, thicker than that
        around it; a grassy knoll; Mother Earths carpet 
    </h3>
    <hr class="section-divider w-100">
</div>
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-7">
            <p>
                Tussock was born in 2022 when creator Jasmine Price could not find the right rug for her
                flat. Instead of buying a factory-made copy, she embarked upon the process of making
                a unique topographical piece inspired by her home town in Shropshire.</p>
            <p>A year later, and one rug has become a house full of yarn, and a business dedicated to
                recreating the beauty of the UK countryside in tufted form. Everything Tussock creates
                is inspired by the natural world and our rugs, tapestries and artworks add a soft touch
                to any interior. </p>
        </div>
                <div class="col-md-5">
            <img class="img-fluid img-md taproom-image" src="#" alt="Rug">
        </div>
        <div class="row jumbotron">
            <h3 class="opening-hours">Commissions for 2024 are now open</>
        </div>
        <div>
            <p> If you are interested in having a hand-finished,
                tufted rug which playfully recreates the topography of somewhere special to you,
                please get in touch with us via our contact form.</p>
        </div>      

    </div>
    <div class="row">
        <p>
            <a href="#" class="find-us-link">Get In Touch!</a>
        </p>
    </div>
</div>
<hr class="section-divider">

<div class="container">
    <div class="row">
        <p>Home delivery: <a
                href="#">Order Online</a> and select home delivery as your preferred method
        </p>
    </div>
</div>

{% endblock %}
